@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font: 16px/1.4 "Microsoft Yahei", Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    /* max-width: 640px; */
    overflow-x: auto;
}
address, cite, dfn, em, var, i {
    font-style: normal;
}

fieldset, img {
    border: 0 none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

ul, ol, dd, dt, dl {
    list-style-type: none;
}

/*背景颜色*/

.m-bg {
    background-color: #00b853;
}
/* tab选项卡覆盖样式 */

.am-tabs-default-bar-tab-active {
    color: #00b853;
}

.am-tabs-default-bar-underline {
    position: absolute;
    border: 1px #00b853 solid;
}